
*,*::after,*::before {
  box-sizing: border-box;
  margin:0;
}

.header {
  background-color: black;
  color:white;
  font-size:2.5rem;
  padding:1.25rem;
  height:15vh;
}

.main {
  display:flex;
  min-height:80vh;
}

.todo-sidebar {
  width:25%;
  background-color: rgb(209, 209, 209);
  display:flex;
  flex-direction: column;
  font-size:1.25rem;
  font-weight:500;
  padding:1.5rem;
  gap:2rem;
}

.todo-sidebar > div {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-group {
  gap:10px;
}

button {
  display:flex;
  align-items: center;
  gap:1.15rem;
  width:100%;
  border-radius: .25rem;
  padding:5px;
}

.delete-button {
  flex-grow:3;
}

button:hover,
button:focus {
  background-color: rgba(0,0,0,0.3);
}

.todo-icon {
  height:20px;
  width:20px;
  object-fit: contain;
}

.projects-title {
  font-weight: 700;
}

footer {
  background-color:black;
  color:white;
  font-size:1.5rem;
  display:flex;
  justify-content: center;
  height:5vh;
}

.add-todo-container {
  display:flex;
  flex-direction: column;
  gap:.5rem;
}

.add-todo-buttons {
  display:flex;
  gap:.25rem;
}

.delete-button {
  display:flex;
  justify-content: flex-end;
}

